
// -*- C++ -*-

native "rust" mod librust {
  fn str_buf(str s) -> int;
}

native mod libc {
  fn fopen(int path, int mode) -> int;
  fn fgetc(int file) -> int;
  fn fclose(int file) -> ();
  fn puts(int s) -> ();
}

mod fe {
    mod lexer;
    mod parser;
}

mod driver {
    mod rustc;
}

auth driver = unsafe;

// Local Variables:
// fill-column: 70;
// indent-tabs-mode: nil
// buffer-file-coding-system: utf-8-unix
// compile-command: "make -k -C .. 2>&1 | sed -e 's/\\/x\\//x:\\//g'";
// End:
